<?xml version="1.0" encoding="UTF-8"?>
<!-- Following snippet is referred from : https://www.boraji.com/spring-boot-log4j-2-configuration-example -->
<Configuration>
    <Properties>
        <Property name="logPath">/var/log/addressbook</Property>
    </Properties>
    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss a} [%t] %X{requestId} %-5level %logger{36} - %msg%n"/>
        </Console>

        <RollingFile name="FileAppender" fileName="${sys:logPath}/application.log"
                     filePattern="${sys:logPath}/payment-schedule-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="%d{yyyy-MMM-dd HH:mm:ss a} [%t] %X{requestId} %-5level %logger{36} - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Log everything in custom package -->
        <Logger name="com.harrywork.addressbook" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileAppender" />
        </Logger>

        <!-- Log everything in Spring Boot -->
        <Logger name="org.springframework.boot" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileAppender" />
        </Logger>

        <!-- Log everything in Spring Core -->
        <Logger name="org.springframework.core" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileAppender" />
        </Logger>


        <Root level="DEBUG">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileAppender" />
        </Root>

    </Loggers>
</Configuration>